In [69]:
import pandas as pd


data = pd.read_csv('../input/Table-Youth-and-Adult-Literacy-Rate-updated-Oct.-2015_78.csv', sep=';')

data = data.loc[:, data.isnull().sum() < 0.8*data.shape[0]]

In [70]:

data.head(50)

,Unnamed: 0,Unnamed: 1,UNICEF GLOBAL DATABASES [data.unicef.org],Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Education: Adult literacy rate - Percentage,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Prepared by the Data and Analytics Section; Di...,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Last update: October 2015,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ISO Code,Countries and areas,Reference year(s),Total,Sex,NaN,Source
9,NaN,NaN,NaN,NaN,Male,Female,NaN
10,AFG,Afghanistan,2011,32,45,18,UNESCO Institute for Statistics
11,ALB,Albania,2011,97,98,96,UNESCO Institute for Statistics
12,DZA,Algeria,2006,73,81,64,UNESCO Institute for Statistics
13,AND,Andorra,NaN,-,-,-,NaN
14,AGO,Angola,2013,71,82,60,UNESCO Institute for Statistics
15,ATG,Antigua and Barbuda,2013,99,98,99,UNESCO Institute for Statistics
16,ARG,Argentina,2013,98,98,98,UNESCO Institute for Statistics
17,ARM,Armenia,2011,100,100,100,UNESCO Institute for Statistics
18,AUS,Australia,NaN,-,-,-,NaN
19,AUT,Austria,NaN,-,-,-,NaN
20,AZE,Azerbaijan,2010,100,100,100,UNESCO Institute for Statistics
21,BHS,Bahamas,NaN,-,-,-,NaN
22,BHR,Bahrain,2010,95,96,92,UNESCO Institute for Statistics
23,BGD,Bangladesh,2013,60,63,56,UNESCO Institute for Statistics
24,BRB,Barbados,NaN,-,-,-,NaN
25,BLR,Belarus,2009,100,100,99,UNESCO Institute for Statistics
26,BEL,Belgium,NaN,-,-,-,NaN
27,BLZ,Belize,NaN,-,-,-,NaN
28,BEN,Benin,2006,29,41,18,UNESCO Institute for Statistics
29,BTN,Bhutan,2005,53,65,39,UNESCO Institute for Statistics
30,BOL,Bolivia (Plurinational State of),2011,92,97,88,UNESCO Institute for Statistics
31,BIH,Bosnia and Herzegovina,2013,98,100,97,UNESCO Institute for Statistics
32,BWA,Botswana,2013,87,87,88,UNESCO Institute for Statistics
33,BRA,Brazil,2010,90,90,91,UNESCO Institute for Statistics
34,BRN,Brunei Darussalam,2011,96,97,95,UNESCO Institute for Statistics
35,BGR,Bulgaria,2011,98,99,98,UNESCO Institute for Statistics
36,BFA,Burkina Faso,2007,29,37,22,UNESCO Institute for Statistics
37,BDI,Burundi,2008,87,89,85,UNESCO Institute for Statistics
38,CPV,Cabo Verde,2012,85,90,80,UNESCO Institute for Statistics
39,KHM,Cambodia,2009,74,83,66,UNESCO Institute for Statistics
40,CMR,Cameroon,2010,71,78,65,UNESCO Institute for Statistics
41,CAN,Canada,NaN,-,-,-,NaN
42,CAF,Central African Republic,2010,37,51,24,UNESCO Institute for Statistics
43,TCD,Chad,2013,38,47,29,UNESCO Institute for Statistics
44,CHL,Chile,2011,97,97,97,UNESCO Institute for Statistics
45,CHN,China,2010,95,97,93,UNESCO Institute for Statistics
46,COL,Colombia,2010,93,93,93,UNESCO Institute for Statistics
47,COM,Comoros,2013,77,81,72,UNESCO Institute for Statistics
48,COG,Congo,2011,79,86,73,UNESCO Institute for Statistics
49,COK,Cook Islands,NaN,-,-,-,NaN

In [71]:
data.columns = ['ISO Code', 'Countries and areas', 'Reference year(s)', 'Total', 'Male', 'Female', 'Extra']

In [74]:
data = data.dropna()
data.head()

,ISO Code,Countries and areas,Reference year(s),Total,Male,Female,Extra
10,AFG,Afghanistan,2011,32,45,18,UNESCO Institute for Statistics
11,ALB,Albania,2011,97,98,96,UNESCO Institute for Statistics
12,DZA,Algeria,2006,73,81,64,UNESCO Institute for Statistics
14,AGO,Angola,2013,71,82,60,UNESCO Institute for Statistics
15,ATG,Antigua and Barbuda,2013,99,98,99,UNESCO Institute for Statistics